#过滤数据库文件、sln解决方案文件、配置文件
*.WK3
*.PS
*.ewp
*.ewd
*.eww
*.exe
*.r51
*.pbi
*.cout
*.hex
*.d51
*.rar
*.map
*.dep
*.sfr
*.browse
*.bat
*.dni
*.orig
*.pbd
*.dbgdt
*.wsdt
*.pdf
*.msi
*.cat
*.png
*.html
*.css
*.ico
*.dat
*.rar
*.bak
*.mk
*.doc


sourceinsight/
IARFile/
SI/
Listings/
Objects/
out/
